<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Onest-Regular.ttf</string>
		<string>Onest-Medium.ttf</string>
		<string>Onest-SemiBold.ttf</string>
		<string>Onest-Bold.ttf</string>
		<string>Onest-ExtraBold.ttf</string>
		<string>Onest-Black.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-SemiBold.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
